body {
	background-image: url("../images/download.jpg");
	color: #00cccc;
	font-family: Arial;
	background-size: 100%;
}

header {
	height: 150px;
	background-image: url("../images/dubstep.jpg");
	text-align: center;
}

h1 {
	padding-top: 50px;
	font-size: 48px;
}

#result {
	text-align: center;
	margin: 20px;
	font-size: 36px;
}

.content {
	text-align: center;
	margin: 20px;
	font-size: 24px;
}

#instruct, #wins, .currentWordText, #currentWord, .numberGuessesText, #numberGuesses, .lettersGuessedText , #lettersGuessed {
	margin: 20px;
}

#currentWord {
	letter-spacing: 5px;
}